$color-primary: #ff6e3a;
$color-white: #f3f3f3;
$color-dark: #222;
$color-mark: #ff1100;

body,
html {
  height: 1000px;
  font-family: 微軟正黑體;
}

nav.navbar {
  transition-duration: 0.5s;
  &.navbar-default.navbar-fixed-top.navbar-top {
    a {
      color: $color-white;
      transition-duration: 0.5s;
      &:hover {
        color: $color-primary;
      }
    }
  }
}

header.jumbotron {
  margin-bottom: unset;
  background-image: url(https://watermark.lovepik.com/photo/20211208/large/lovepik-movable-type-landscape-picture_501674783.jpg);
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

section {
  padding: 50px unset;
  &#section_ask {
    .col-sm-5.img {
      background-image: url(https://www.booklife.com.tw/upload_files/fonlego-rwd/club/g0200021%20-c2.jpg);
      height: 350px;
      mix-blend-mode: multiply;
      background-size: cover;
    }
  }
  &#section_story {
    padding: unset;
    color: $color-white;
    .col-sm-5 {
      background-image: url(https://images.freeimages.com/clg/images/31/312571/europe-map-vector_f.jpg);
      height: 350px;
      background-size: 120% auto;
      background-repeat: no-repeat;
      .cross {
        position: absolute;
        left: 35%;
        top: 35%;
        color: $color-mark;
        font-size: 30px;
        font-weight: bold;
      }
    }
    .col-sm-7 {
      text-align: center;
      .col-sm-12.features {
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
  }
  &#section_future {
    .future {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

footer.jumbotron {
  margin-bottom: unset;
  background-image: url(https://watermark.lovepik.com/photo/20211208/large/lovepik-movable-type-landscape-picture_501674783.jpg);
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}
//文字
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h2.middle {
  margin-top: 130px;
  padding: unset 20px;
}
h4.light {
  color: rgba($color-white, 0.5);
  font-weight: normal;
}
//hr
hr.hrmark {
  max-width: 50px;
  border: solid 2px $color-primary;
}
//icon
i {
  font-size: 2.5rem;
}
//input
input {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
//img
img {
  width: 100%;
  .img-wide {
    width: 200%;
  }
  .img-wrap {
    height: 260px;
    overflow: hidden;
  }
}
//background-color
.bgc {
  &-dark {
    background-color: $color-dark;
  }
  &-primary {
    background-color: $color-primary;
  }
  &-transparent {
    background-color: transparent;
  }
}
//containter
.container {
  &-head {
    color: $color-white;
    padding: 200px 0px;
  }
  &-footer {
    color: $color-white;
    padding: 60px 0px;
  }
}
